* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    margin-bottom: 63px;
}

.hamburger {
    display: none;
}

.heading {
    justify-content: center;
    text-align: center;
    margin-left: 38px;
    margin-top: 24px;
    margin-bottom: 18px;
    width: 100%;
}

.heading a{
    text-decoration: none;
    color: black;
}

.heading-text {
    display: inline;
    cursor: pointer;
}

.cart {
    justify-content: flex-end;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 28px;
    cursor: pointer;
}

.checkout-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkout-heading {
    font-weight: 300;
    text-align: center;
    font-size: 14.3px;
    margin-bottom: 0px;
}

.subtitle {
    text-align: center;
    font-size: 13px;
    color: #757575;
}

/* CENTER */

.center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 0;
    /* padding-top: 100px; */
    height: auto;
}

.section-left {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 55%;
}

.section-right {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 55%;
}

hr {
    width: 100%;
    border-width: 1px;
    overflow: visible;
    border-color: #757575;
    border-style: solid
}

input {
    border-style: none;
    outline: 0;
    background: #FFFFFF;
}

select {
    font-size: 16px;
    border-style: none;
    outline: 0;
    background: #FFFFFF;
}

h6 {
    font-size: 13px;
}

p {
    font-size: 13px;
}

intput {
    font-size: 16px;
    font-weight: 300;
    padding: 8px 0;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.horizontal-container-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* .checkbox {
    border-style: none;
    outline: 0;
    background: #FFFFFF;
   
} */

.checkbox-text {
    margin-top: 2px;
    margin-left: 8px;
}

.vertical-container-card {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.CVV {
    margin-top: 2px;
}

.order-summary-text {
    margin-bottom: 0px;
}

.vertical-container-order {
    display:flex;   
    flex-direction: row;
}

.order-item {
    width:90%;
}

.desc-button {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 32px;
    margin-top: 14px;
    cursor: pointer;
    padding: 12px 46px;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 2px solid black;
}

.desc-button-small {
    display: none;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.made-by {
    justify-content: center;
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
}

.made-by-text {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.demo-only {
    font-size: 12px;
    padding: 0px 32px 0px 32px;
    display: flex;
    justify-content: center;
}

.demo-only-text {
    display: inline-block;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    padding: 0.9em 2.4em;
}

footer p {
    justify-content: center;
    text-align: center;
    color: black;
}

@media only screen and (max-width: 767px) {
    body {
        position: relative;
    }

    header {
        margin-bottom:0;
    }

    .hamburger {
        display: block;
        justify-content: flex-start;
        width: 20px;
        height: 20px;
        margin-top: 24px;
        margin-left: 24px;
    }
    .center {
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .section-left {
        width: 90%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .section-right {
        width: 90%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;  
        padding-left: 0;
        padding-right: 0;
    }
   
    .section-desc-container {
        margin: auto;
        width: 90%;
        padding: 0px;
    }
    .desc-button {
        display: none;
    }
    .desc-button-small {
        display: block;
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 14px;
        cursor: pointer;
        padding: 12px 46px;
        text-decoration: none;
        width: 100%;
        position: sticky;
        bottom: 0;
        background: #172C50;
        color: #FFFFFF;
        border: none;
        font-size: 15px;
        padding: 20px;
    }
    footer {
        display: none;
    }
}