* {
    font-family: 'Roboto', sans-serif;
}


body {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    width: 100%;
}


.hamburger {
    display: none;
}


.heading {
    justify-content: center;
    text-align: center;
    margin-left: 38px;
    margin-top: 24px;
    margin-bottom: 18px;
    width: 100%;

}

.heading a{
    text-decoration: none;
    color: black;
}

.heading-text {
    display:inline;
    cursor: pointer;
}


.cart {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 28px;
    cursor: pointer;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
}


.nav_item {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    overflow: hidden;
    cursor: pointer;
}


.outerwear-banner {
    overflow: hidden;
    width: 100%;
    height: 330px;
}


.outerwear-banner img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    /* left: -calc(width - 50%); */
}


.outerwear-text h4 {
    font-weight: 300;
    text-align: center;
    font-size: 14.3px;
}


.number-of-items {
    text-align:center;
    font-size:13px;
    color: #757575;
}


.items {

    margin-left: 0;
    margin-right: 0;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;

}


.item {
    width: 32%;
    height: 50%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.item img{
    margin-left: 0;
    margin-right: 0;
    width: 70%;
    height: 70%;
}

.item a {
    text-decoration: none;
    color: black;
}

.item a h6{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
}


.item-price {
    margin:0;
    font-size:13px;
    color: #757575;
}



/* FOOTER */


footer {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    width: 100%;
}


.made-by {
    justify-content: center;
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
}


.made-by-text {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


.demo-only {
    font-size: 12px;
    padding: 0px 32px 0px 32px;
    display: flex;
    justify-content: center;
}


.demo-only-text {
    display: inline-block;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    padding: 0.9em 2.4em;
}


footer p {
    justify-content: center;
    text-align: center;
    color: black;
}


@media only screen and (max-width: 767px) {

    .outerwear-text h4 {
        margin-top:0;
    }

    .nav {
        display: none;
    }


    .outerwear-banner {
        display:none;
    }
    

.item {
    width: 49%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
}